.header {
    padding: 2rem;
    background: #f4f4f4;
    color: #000;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.likss {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    transition: all .3s ease-in-out;
}

.likss > p > a {
    transition: all .3s ease-in-out;
}

.likss > p > a:hover {
    text-decoration: none;
    font-weight: 800;
}